body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
}
/* footer */
.footer-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #E7E9FC;
}
.footer {
  background: #2e2f42;
}
.logo {
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
text-decoration-line: none;
}
.colortext {
color: #4D5AE5;
}
.logo:hover,.logo:focus {
  text-decoration-line: underline;
}
.colortext:hover {
  color:#404BBF;
}

.adress {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}


h3 {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}